:root{
    --background-branco-escuro: #f0f2f5;
    --background-branco-menu-mobile: #f0f2f5;
    --background-branco-claro: #ffffff;
    --background-preto-claro: #1c1c22;
    --background-preto-escuro: #161513;
    --cor-icones-bgbranco-: #4d4d4d;
    --cor-gradiente-:linear-gradient(90deg, rgba(177,108,234,1) 20%, rgba(255,94,105,1) 40%, rgba(255,138,86,1) 60%, rgba(255,168,75,1) 80%);;
    /*BOX SHADOW*/
    --shadow-color: 0deg 0% 59%;
    --shadow-elevation-low:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --shadow-elevation-medium:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-elevation-high:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.34),
        0px 1.5px 1.7px -0.4px hsl(var(--shadow-color) / 0.34),
        0.1px 2.9px 3.3px -0.7px hsl(var(--shadow-color) / 0.34),
        0.1px 4.7px 5.3px -1.1px hsl(var(--shadow-color) / 0.34),
        0.1px 7.5px 8.4px -1.4px hsl(var(--shadow-color) / 0.34),
        0.2px 11.7px 13.2px -1.8px hsl(var(--shadow-color) / 0.34),
        0.3px 17.8px 20px -2.1px hsl(var(--shadow-color) / 0.34),
        0.5px 26.3px 29.6px -2.5px hsl(var(--shadow-color) / 0.34);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-branco-escuro);
    color: var(--background-preto-escuro);
    width: 100%;
    height: 100vh;
}
header{
    background-color: var(--background-branco-escuro);
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    max-width: 1280px;
    margin: 0px auto;
}
header .center ul{
    display: none;
}
header .center .logo h1{
    font-weight: 400;
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
}
header .center .logo h1 span{
    font-weight: 600;
}
header .center .container-bamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
header .center .container-bamburguer button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
header .center .container-bamburguer button img{
    width: 30px;
    height: 30px;
    color: var(--background-preto-escuro);
}
.fa-solid{
    font-size: 28px;
    color: #161513;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    align-items: center;
}
.center{
    max-width: 1280px;
}
.linha{
    background-color: var(--background-preto-claro);
    width: 90%;
    max-width: 1280px;
    height: 1px;
    margin: 0px auto;
}
main #home{
    padding: 110px 15px 60px;
    max-width: 1280px;
}
.menuMobile{
    position: relative;
    background-color: var(--background-branco-menu-mobile);
    box-shadow: var(--shadow-elevation-high);
    min-width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 110;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.8s;
}
.menuMobile ul{
    position: absolute;
    width: 80%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.menuMobile ul div:hover{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;    
}
.menuMobile ul div i{
    font-size: 28px;
}
.menuMobile ul li a{
    text-decoration: none;
    color: #161513;
    font-size: 28px;
    font-weight: 500;
    transition: 0.4s;
}
.menuMobile .containerBtnClose{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 26px 28px 0px 0px;
}
.menuMobile .containerBtnClose button{
    border: transparent;
    width: 50px;
    background-color: transparent;
}
.menuMobile .containerBtnClose button i{
    width: 25px;
    font-size: 32px;
    color: var(--background-preto-claro);
}
.menuMobile ul div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menuMobile ul div img{
    width: 24px;
}
.menuMobile .contateMenuMobile{
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    background: var(--cor-gradiente-);
    cursor: pointer;
    box-shadow: var(--shadow-elevation-medium);
    color: var(--background-preto-escuro);
    position: absolute;
    bottom: 30px;
}
.flex{
    display: flex;
}
main #home .center{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
}
main #home .center .img-home{
    width: 100%;
    display: flex;
    justify-content: center;
}
main #home .center img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 0px 20px;
}
main #home .center .tituloHome{
    font-size: 42px;
    font-weight: 600;
    padding: 20px 0px 10px;
    color: black;
}
main #home .center .tituloHome span{
    font-weight: 700;
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    max-width: 700px;
}
main #home .center p{
    padding: 25px 0px;
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-icones-bgbranco-);
}
main #home .center .botoesHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
main #home .center .botoesHome a{
    display: flex;
    align-items: center;
    gap: 10px;

}
main #home .center .colorido{
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    background: var(--cor-gradiente-);
    cursor: pointer;
    color: var(--background-preto-escuro);
    box-shadow: var(--shadow-elevation-low);
    text-decoration: none;
}
main #home .center .colorido:hover, main #home .center a:hover{
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.4s;
}
main #home .center a{
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    border: solid 1px var(--background-preto-escuro);
    margin: 10px 5px;
    color: var(--background-preto-escuro);
    box-shadow: var(--shadow-elevation-low);
    cursor: pointer;
    text-decoration: none;
}
main #projetos{
    padding: 30px 15px;
    max-width: 1280px;
}
main #projetos .textProjetos{
    display: flex;
    flex-direction: column;
    text-align: start;
} 
main #projetos .textProjetos h2{
    font-size: 40px;
    padding: 25px 0px;
    max-width: 700px;
}
main #projetos .textProjetos h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #projetos .textProjetos p{
    font-size: 22px;
    padding: 22px 0px;
    font-weight: 500;
    color: var(--cor-icones-bgbranco-);
}
main #projetos .cardsProjetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
    gap: 40px;
}
main #projetos .cardsProjetos .card{
    width: 90%;
    max-width: 350px;
    border-radius: 12px;
    background-color: var(--background-branco-claro);
    box-shadow: var(--shadow-elevation-low);
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}
main #projetos .cardsProjetos .card:hover{
    box-shadow: var(--shadow-elevation-high);
    transition: 0.4s;
}
main #projetos .cardsProjetos .card img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
main #projetos .cardsProjetos .card .cardText{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--cor-icones-bgbranco-);
}
main #projetos .cardsProjetos .card .cardText h3{
    font-size: 28px;
    color: #161513;
}
main #projetos .cardsProjetos .card .cardText p{
    font-size: 20px;
}
main #vantagens{
    width: 100%;
}
main #vantagens .center{
    width: 100%;
    padding: 0px auto;
    max-width: 1280px;
}
main #vantagens .textVantagens{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    text-align: start;
}
main #vantagens .textVantagens h2{
    font-size: 40px;
}
main #vantagens .textVantagens h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #vantagens{
    width: 100%;
    background-color: var(--background-branco-claro);
    padding: 60px 0px 30px 0px;
    display: flex;
    justify-content: center;
}
main #vantagens .cardsVantagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 50px 0px;
}
main #vantagens .cardsVantagens div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 120px;
}
main #vantagens .cardsVantagens div i{
    font-size: 60px;
    color: #383838;
}
main #vantagens .cardsVantagens div p{
    font-weight: 500;
}
main #sobre{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main #sobre .texto-sobre{
    width: 100%;
    padding: 0px 20px;
}
main #sobre .texto-sobre h2{
    font-size: 40px;
    padding: 25px 0px;
    max-width: 700px;
}
main #sobre .texto-sobre h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #sobre p{
    font-size: 22px;
    padding: 22px 0px;
    font-weight: 500;
    color: var(--cor-icones-bgbranco-);
}
main #sobre .w50{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
main #sobre .w50 img{
    border-radius: 10px; 
    width: 100%;
    max-width: 500px;
}
main #sobre .w50 p{
    max-width: 100%;
}
main .local{
    width: 100%;
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    text-align: center;
}
main .local .textLocal{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 60px 20px 50px 20px;
    gap: 25px;
}
main .local .textLocal div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 25px;
}
main .local .textLocal div .whats, .insta, .face ,.cell{
    gap: 10px;
    text-decoration: none;
    color: #161513;
    cursor: pointer;
    display: flex;
    align-items: center;
}
main .local .textLocal div .whats:hover, .insta:hover, .face:hover,  .cell:hover{
    transition: 0.4s;
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .local .textLocal div .whats i, .insta i, .face i,.cell i{
    font-size: 24px;
}
main .local .textLocal h2{
    width: 100%;
    font-size: 40px;
}
main .local .textLocal p{
    width: 100%;
    padding: 22px 0px;
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-icones-bgbranco-);
}
main .local .textLocal h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .local .mapaLocal{
    width: 100%; 
}
footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background-color: #181818;
    color: var(--background-branco-claro);
}
@media screen and (min-width: 550px) {
    main #home .center{
        align-items: center;
    }
    main #home .center .tituloHome{
        text-align: center;
    }
    main #home .center p{
        text-align: center;
        max-width: 70%;
    }
    main #home .center .botoesHome{
        align-items: center;
    }
    main #projetos .textProjetos{
        text-align: center;
        align-items: center;
    }
    main #projetos .textProjetos h2 span{
        text-align: center;
    }
    main #projetos .textProjetos p{
         max-width: 70%;
    }
    main #vantagens .textVantagens{
        text-align: center;
    }
    main #vantagens .textVantagens p{
        max-width: 70%;
    }
    main #vantagens .cardsVantagens .card{
        height: 400px;
        justify-content: start;
    }
    main #sobre .texto-sobre h2{
        text-align: center;
        min-width: 100%;
    }
    main #sobre .w50{
        width: 100%;
        display: flex;
        align-items: center;
    }
    main #vantagens .cardsVantagens div{
        width: 180px;
    }
    main .local .center{
        width: 100%;
        max-width: 1280px;
        margin: 0px auto;
    }
    main .local .textLocal{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 60px 20px 60px 20px;
        gap: 25px;
        margin: 0px auto;
    }
    main .local .textLocal div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    main .local .textLocal div .whats, .insta, .face ,.cell {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: #161513;
        cursor: pointer;
    }
    main .local .textLocal div .whats:hover, .insta:hover, .face:hover ,.cell:hover{
        color:#4d4d4d;
        transition: 0.4s;
    }
    main .local .textLocal div .whats i, .insta i, .face i,.cell i{
        font-size: 24px;
    }
    main .local .textLocal h2{
        width: 100%;
        font-size: 40px;
    }
    .textLocalFinal{
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 980px){
    header .center ul{
        display: flex;
        gap: 20px;
        list-style: none;
        font-size: 18px;
        font-weight: 500;
    }
    header .center ul li a{
        color: var(--background-preto-escuro);
        text-decoration: none;
        transition: 1s;
    }
    header .center ul li a:hover{
        background-image: var(--cor-gradiente-);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    header .center .container-bamburguer{
        display: none;
    }
    main #vantagens .cardsVantagens div{
        width: 180px;
    }
    main #sobre{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main #sobre .texto-sobre{
        width: 100%;
    }
    main #sobre .texto-sobre h2{
        min-width: 100%;
        padding: 30px 0px;
    }
    main #sobre .w50{
        max-width: 640px;
    }
    main #sobre .w50 p{
        text-align: center;
        max-width: 875px;
    }
}