:root{
    --background-branco-escuro: #f0f2f5;
    --background-branco-menu-mobile: #f0f2f5e8;
    --background-branco-claro: #ffffff;
    --background-preto-claro: #1c1c22;
    --background-preto-escuro: #161513;
    --cor-icones-bgbranco-: #4d4d4d;

    --cor-gradiente-:linear-gradient(90deg, rgba(177,108,234,1) 20%, rgba(255,94,105,1) 40%, rgba(255,138,86,1) 60%, rgba(255,168,75,1) 80%);;

    --shadow-color: 0deg 0% 59%;
    --shadow-elevation-low:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.34),
        0px 0.4px 0.5px -1.2px hsl(var(--shadow-color) / 0.34),
        0px 1.1px 1.2px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.36),
        0px 0.9px 1px -0.8px hsl(var(--shadow-color) / 0.36),
        0px 2.2px 2.5px -1.7px hsl(var(--shadow-color) / 0.36),
        0.1px 5.3px 6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.34),
        0px 1.5px 1.7px -0.4px hsl(var(--shadow-color) / 0.34),
        0.1px 2.9px 3.3px -0.7px hsl(var(--shadow-color) / 0.34),
        0.1px 4.7px 5.3px -1.1px hsl(var(--shadow-color) / 0.34),
        0.1px 7.5px 8.4px -1.4px hsl(var(--shadow-color) / 0.34),
        0.2px 11.7px 13.2px -1.8px hsl(var(--shadow-color) / 0.34),
        0.3px 17.8px 20px -2.1px hsl(var(--shadow-color) / 0.34),
        0.5px 26.3px 29.6px -2.5px hsl(var(--shadow-color) / 0.34);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal; 
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-branco-escuro);
    color: var(--background-preto-escuro);
}
header{
    background-color: var(--background-branco-escuro);
    position: fixed;
    width: 100%;
    box-shadow: var(--shadow-elevation-low);
}
header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}
header .center ul{
    display: none;
}
header .center .logo h1{
    font-weight: 400;
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .center .logo h1 span{
    font-weight: 800;
}
header .center .container-bamburguer{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
header .center .container-bamburguer button{
    border: none;
    cursor: pointer;
}
header .center .container-bamburguer button img{
    width: 30px;
    height: 30px;
}
.center .container-bamburguer .divMenor{
    width: 30px;
}
main{
    width: 100%;
}
.linha{
    background-color: var(--background-preto-escuro);
    width: 90%;
    height: 1px;
    margin: 0px auto;
}
main #home{
    padding: 110px 15px 60px;
}
.menuMobile{
    background-color: var(--background-branco-menu-mobile);
    box-shadow: var(--shadow-elevation-high);
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.8s;
}
.menuMobile ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menuMobile ul li a{
    text-decoration: none;
    color: #161513;
    font-size: 20px;
    font-weight: 600;
    border-bottom: #959595 solid 1px ;
}
.menuMobile .containerBtnClose{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}
.menuMobile .containerBtnClose button{
    border: transparent;
    padding: 20px 20px 0px 0px;
}
.menuMobile .containerBtnClose button img{
    width: 30px; 
}
.flex{
    display: flex;
}
main #home .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main #home .center img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 30px 0px 20px;
    box-shadow: var(--shadow-elevation-medium);
}
main #home .center .tituloHome{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px 10px;
    text-align: start;
}
main #home .center .tituloHome span{
    font-weight: 600;
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    max-width: 700px;
}
main #home .center p{
    padding: 25px 0px;
    font-size: 22px;
    font-weight: 400;
    max-width: 500px;
    text-align: start;
}
main #home .center .botoesHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
main #home .center .colorido{
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    background: var(--cor-gradiente-);
    cursor: pointer;
    box-shadow: var(--shadow-elevation-low);
    color: var(--background-preto-escuro);
}
main #home .center .colorido:hover{
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.4s;
}
main #home .center button{
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    border: solid 1px var(--background-preto-escuro);
    margin: 10px 5px;
    color: var(--background-preto-escuro);
}
main #home .center button:hover{
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.4s;
}
main #projetos{
    padding: 30px 15px;
}
main #projetos .textProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: start;
}
main #projetos .textProjetos h2{
    font-size: 40px;
    padding: 25px 0px;
    max-width: 700px;
}
main #projetos .textProjetos h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #projetos .textProjetos p{
    font-size: 22px;
    max-width: 800px;
}
main #projetos .cardsProjetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
    gap: 40px;
}
main #projetos .cardsProjetos .card{
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    /* padding: 20px 10px; */
    background-color: var(--background-branco-claro);
    box-shadow: var(--shadow-elevation-medium);
}
main #projetos .cardsProjetos .card img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
main #projetos .cardsProjetos .card .cardText{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
main #projetos .cardsProjetos .card .cardText h3{
    font-size: 28px;
}
main #projetos .cardsProjetos .card .cardText p{
    font-size: 20px;
}
main #vantagens{
    display: flex;
    flex-direction: column;
}
main #vantagens .textVantagens{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    text-align: start;
}
main #vantagens .textVantagens h2{
    font-size: 40px;
}
main #vantagens .textVantagens h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #vantagens{
    background-color: var(--background-branco-claro);
    padding: 60px 0px 30px 0px;
}
main #vantagens .cardsVantagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0px;
}
main #vantagens .cardsVantagens .card{
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    text-align: center; */
    gap: 15px;
    border: solid 1px var(--background-preto-claro);
    border-radius: 20px;
    padding: 40px 20px;
    box-shadow: var(--shadow-elevation-medium);
}
main #vantagens .cardsVantagens .card img{
    width: 40px;
    padding: 0px;
}
main #vantagens .cardsVantagens .card h3{
    font-size: 28px;
}
main #vantagens .cardsVantagens .card p{
    font-size: 20px;
}
main .local{
    display: flex;
    flex-direction: column;
    text-align: start;

}
main .local .textLocal{
    padding: 60px 15px 20px 15px;
}
main .local .textLocal h2{
    font-size: 40px;
}
main .local .textLocal h2 span{
    background-image: var(--cor-gradiente-);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .local .mapaLocal{
    width: 100%; 
}
main .local .textLocalFinal p{
    display: flex;
    justify-content: center;
    padding: 20px 15px 60px 15px;
}
@media screen and (min-width: 760px) {
    main #vantagens .cardsVantagens .card{
        height: 400px;
        justify-content: start;
    }
}